@keyframes loaderVisibility {
  from { background-position: 0px 0px; }
  90% { opacity: 100%; }
  to { opacity: 0%; visibility: hidden; }
}

@keyframes loaderAnimation {
  from {  }
  50% {  }
  90% { background-position: 0%; width: 70%; }
  to { background-position: 0%; width: 0%; }
}

.loader {
  width: 100%;
  height: 100%;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
  visibility: visible;
  background-color: #f6f6f6;
  animation: loaderVisibility 3s both;
  &__Animation {
      width: 70%;
      max-width: 600px;
      height: 100%;
      mask-image: url(../img/logo/ohmyfood.svg);
      -webkit-mask-image: url(../img/logo/ohmyfood.svg);
      /*background: linear-gradient(to left, #000 47%, #9356DC 50%, #FF79DA 100%); */
      background: linear-gradient(to left, #000 50%, #000 50%, #000 100%);
      background-size: 240% 100%;
      background-position: right;
      mask-size: contain;
      mask-position: center;
      mask-repeat: no-repeat;
      -webkit-mask-size: contain;
      -webkit-mask-position: center;
      -webkit-mask-repeat: no-repeat;
      animation: loaderAnimation 2.8s both;
  }
}


@keyframes menuAppear {
  from { opacity: 0; transform: translateY(30px); }
  to { opacity: 1; transform: translateY(0px); }
}

@for $i from 1 through 13 {
    .menu__Composition [data-delay="#{$i}"] {
      animation-delay: ($i*0.1s);
    }
}